<!DOCTYPE HTML>

<html>
	<head>
		{% block title %}<title>{{ blog_settings.0.title }}</title> {% endblock %}
        <meta name="author" content="Osewa Dare Joshua">
        <meta name="description" content="{{ blog_settings.description }}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

            <!-- Open Graph Metadata -->
        <meta property="og:title" content="{{ blog_settings.0.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ blog_settings.0.site_url }}" />
        <meta property="og:image" content="{{ blog_settings.0.site_url }}/static/img/ogimage.png"  />

		<!--[if lte IE 8]><script src="/static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
         <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>

	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<h1><a href="#">{{ blog_settings.0.title }}</a></h1>
						<nav class="links">
							<ul>
								<li><a href="{% url 'blog:aboutme' %}">About Me </a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
							<!--	<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li> -->
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
						<!--	<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section> -->

						<!-- Links -->
							<section>

								<ul class="links">
                                <h2>Featured Posts</h2>
                                    {% for post in featured_posts %}
									<li>
										<a href={{ post.slug }}>
											<h3>{{ post.title }}</h3>
											<p>{{ post.content|slice:"10"|safe }}</p>
										</a>
									</li>
                                    {% endfor %}

                                    <hr>
                                 <h2> Categories </h2>
                                    {% for category in categories %}
									<li>
										<a href={%  url 'blog:singlecategoryview' category.slug %}>
											<h3>{{ category.title }}</h3>
										</a>
									</li>
                                    {% endfor %}

								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="{% url 'admin:index' %}" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

                {% block content %}

                {% endblock %}

            	<!-- Footer -->
					<section id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>
			</div>


		<!-- Scripts -->

        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>

	</body>
</html>